#frame {
  position: fixed;
  width: 72.5%;
  height: 72.5%;
  padding: 7.5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#frame > div {
  float: left;
}

.aboutme {
  width: 25%;
  height: 32.5%;
  margin: 0 7.5% 5% 2.5%;
}

.tophori {
  height: 32.5%;
  width: 55%;
  margin-bottom: 5%;
}

.leftvert {
  height: 50%;
  width: 25%;
}

.projects {

}
