#frame {
  position: fixed;
  width: 65%;
  height: 65%;
  padding: 2.5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: darkgray;
}

#frame > div {
  float: left;
  background: gray;
}

.aboutme {
  width: 25%;
  height: 32.5%;
  margin: 0 5% 5% 2.5%;
}

.tophori {
  height: 32.5%;
  width: 65%;
  margin-bottom: 3%;
  margin-top: 2%;
}

.leftvert {
  height: 57.5%;
  width: 20%;
  margin-right: 5%;
}

.projects {
  height: 29.5%;
  width: 35%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-top: 2%;
}

.rightbox {
  width: 35%;
  height: 22%;
  margin-top: 1%;
  margin-bottom: 8%;
}

.bottombox {
  height: 21%;
  width: 34%;
  margin-right: 4%;
  margin-left: 3%;
}

.github {
  height: 26%;
  width: 30%;
  margin-top: -4%;
  margin-left: 1%;
}
