#frame {
  position: fixed;
  width: 65%;
  height: 65%;
  padding: 2.5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
}

#frame > a {
  display: block;
  float: left;
}

.aboutme {
  width: 25%;
  height: 32.5%;
  margin: 0 5% 5% 2.5%;
}

.projects {
  height: 32.5%;
  width: 65%;
  margin: 2% 0 3% 0;
}

.electronics {
  height: 57.5%;
  width: 20%;
  margin: 0 5% 0 0;
}

.art {
  height: 29.5%;
  width: 35%;
  margin: 2% 5% 3% 0;
}

.github {
  width: 35%;
  height: 22%;
  margin: 1% 0 8% 0;
}

.bottombox {
  height: 21%;
  width: 34%;
  margin: 0 4% 0 3%;
}

.blog {
  height: 26%;
  width: 30%;
  margin: -4% 0 0 1%;
}
