body {
  background-image: url(../img/background/min-code.jpg);
  background-size: cover;
}

.box {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.box p {
  font-size: 20px;
  color: black;
  background-color: rgba(255, 255, 0, 0.5);
  -webkit-transition: color 2s, font-size 2s;
  -moz-transition: color 2s, font-size 2s;
  -o-transition: color 2s, font-size 2s;
  transition: color 2s, font-size 2s;
  z-index: 1;
}

.box:hover p {
  background-color: rgba(255, 255, 0, 0.75);
  color: #648a8a;
  font-size: 27.5px;
}

.aboutme {
  background-image: url(../img/aboutme/selfie5.jpg), linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}

.github {
  background-image: url(../img/github/github_avatar.png), linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}

.blog {
  background-image: url(../img/blog/bloggora.jpg), linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}

.art {
  background-image: url(../img/art/dive.jpg), linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}

.art:hover {
  background-image: url(../img/art/dive.gif), linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}

.projects {
  background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}

.electronics {
  background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}

.getintouch {
  background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}

.contact {
  position: absolute;
  width: 33.3%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#email {
  top: 0;
  left: 0;
  background-image: url(../img/contact/email.png);
}

#email:hover {
  background-image: url(../img/contact/email.gif);
}

#linkedin {
  top: 0;
  left: 33.3%;
  background-image: url(../img/contact/linkedin.png);
}

#twitter {
  top: 0;
  left: 66.6%;
  background-image: url(../img/contact/twitter.png);
}
